$test: rgb(76, 62, 228, 0.5);
$dark: #15181b;
$orange: #ec9005;
$orange-light: #ffe4ae;
$orange-dark: #ec6105;


@keyframes glow {
  from {
    filter: drop-shadow(0 0 10px  $orange);
    transform: translateY(0);
  }
  to {
    filter: drop-shadow(0 0 15px  $orange);
    transform: translateY(.5rem);
  }
}