@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto+Slab:wght@500&display=swap");

$test: rgb(76, 62, 228, 0.5);
$dark: #15181b;
$orange: #ff9e0c;
$orange-light: #ffe4ae;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.hero {
  display: flex;
  width: 100%;
  height: 87vh;
  font-family: "Poppins";
  justify-content: space-evenly;
  align-items: center;
  background: $dark;
  color: white;
  .inactive {
    position: absolute;
    visibility: hidden;
  }
  .hero-text {
    // background: $test;
    transition: all 300ms ease;
    overflow: hidden;
    h1 {
      font-size: 2.7rem;
      margin: 0;
    }
    p {
      margin: 0;
      margin-top: -0.5rem;
      font-size: 1.5rem;
    }
  }
  svg {
    z-index: 1;
    transition: margin 300ms;
    fill: whitesmoke;
    filter: drop-shadow(0 0 10px  $orange);
    .top,
    .bottom {
      fill: $orange;
    }
    .mid {
      
    }
    // .mid {
    //   fill: $orange-light
    // }
  }
}

footer {
  // background: $test;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 13vh;
  .links {
    padding: 0;
    margin: 10px 0 0 0;
    // background: $test;
    list-style-type: none;
    display: flex;
    font-size: 2rem;
    gap: 1rem;
    filter: brightness(90%);
  }
}

.hero-menu {
  .menu-btn {
    position: absolute;
    color: white;
    font-size: 2rem;
    right: 0;
    margin: 1.5rem;
    cursor: pointer;
    z-index: 10;
  }
  .menu {
    background: $test;
    width: 15rem;
    height: 100vh;
    position: fixed;
    right: 0;
    transform: translateX(100%);
    transition: transform 300ms ease;
    ul {
      background: white;
      margin-top: 5rem;
      list-style-type: none;
      padding: 2rem;
    }
  }
  .active {
    transform: translateX(0);
  }
}
