@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto+Slab:wght@500&display=swap");
@import "_variables.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, Segoe UI, Roboto,
    Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.dark {
  background: $dark;
  color: whitesmoke;
}

.hero {
  display: flex;
  width: 100%;
  height: 90vh;
  font-family: "Poppins";
  justify-content: space-evenly;
  align-items: center;
  background: $dark;
  color: white;
  .inactive {
    position: absolute;
    visibility: hidden;
  }
  .hero-text {
    // background: $test;
    transition: all 300ms ease;
    overflow: hidden;
    h1 {
      font-size: 2.7rem;
      margin: 0;
    }
    p {
      margin: 0;
      margin-top: -0.5rem;
      font-size: 1.5rem;
    }
  }
  svg {
    z-index: 1;
    transition: margin 300ms;
    fill: whitesmoke;
    animation: glow alternate infinite 2000ms;
    .top,
    .bottom {
      fill: $orange;
    }
    // .mid {
    //   fill: $orange-light
    // }
  }
}

.links {
  height: 10vh;
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  font-size: 2rem;
  gap: 1rem;
  filter: brightness(90%);
  justify-content: center;
  align-items: center;
  a:hover {
    color: $orange-light;
  }
}

.hero-menu {
  .menu-btn {
    position: absolute;
    color: white;
    font-size: 2rem;
    right: 0;
    margin: 1.5rem;
    cursor: pointer;
    z-index: 10;
  }
}

.navbar {
  width: 100%;
  height: 5rem;
  background: #000;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  // border-bottom: $orange 2px solid;
  box-shadow: 0 4px 10px $orange;
  .navbar-btn {
    font-size: 2rem;
    color: whitesmoke;
    cursor: pointer;
  }
}

.menu {
  background: $orange;
  width: 15rem;
  height: 100vh;
  position: fixed;
  top: 5rem;
  right: 0;
  transform: translateX(100%);
  transition: transform 300ms ease;
  z-index: 7;
  padding: 1.5rem;
  ul {
    list-style-type: none;
    padding: 2rem;
  }
}
.active {
  transform: translateX(0);
}

main {
  font-family: "Poppins", sans-serif;
  color: whitesmoke;
  background: $dark;
  margin-top: 4rem;
  padding: 3rem 12.5% 5rem 12.5%;
  display: flex;
  align-items: center;
  flex-direction: column;
  .section-title {
    font-family: "Roboto Slab";
    margin-bottom: 1rem;
    border-bottom: $orange 1px solid;
  }
  .about {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    .about-image {
      width: 200px;
      height: 200px;
      background: whitesmoke;
      border-radius: 50%;
    }
    .about-text {
      font-size: 20px;
      max-width: 400px;
    }
  }
  .icons {
    // background: $test;
    margin-top: 5rem;
    i {
      font-size: 2rem;
    }
  }
}

.footer {
  color: white;
  background: #000;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.projects-grid {
  background: $test;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(1, 1fr);
  .project-card {
    background: $test;
    color: $dark;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    .card-img {
      width: 300px;
      height: 100%;
      background: $orange;
      overflow: hidden;
      // display: flex;
      & > * {
        // transform: rotate(-5deg) scale(200%);
      }
    }
    .card-text {
      background: white;
      padding: 1rem;
      max-width: 250px;
      width: 100%;
      p {
        font-size: 14px;
        height: 70px;
        overflow-y: scroll;
      }
    }
  }
  .card-btn-container {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    .btn {
      padding: 5px 10px;
      background: $test;
      border-radius: 5px;
      cursor: pointer;
    }
  }
}